@import url(https://db.onlinewebfonts.com/c/84cb021d5f9af287ffff84b61beef6dc?family=clockicons);
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "안쌍체";
  src: url("/font/안쌍체.ttf")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "clockicons";
  src: url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot");
  src: url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.svg#clockicons")format("svg");
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* .gaugeInput{
width: 500px;
-webkit-appearance: none;
margin-top: 10px;
background: #1f1f1f;
border-radius: 10px;
outline: none;

}  */

/* .gaugeInput::-webkit-slider-thumb{
 border-radius: 50%;
  cursor: pointer;
 -webkit-appearance: none;
  background-color: transparent;
} */



